.contato {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  gap: 20px;
  margin-left: 45px !important;
}

.contato img {
  max-width: 400px;
  border-radius: 10px;
}

.contato ul li {
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 0.8rem;
}

.contato ul li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #ddd;
  margin-right: 10px;
}
